.headerColor{
background: #833ab4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.hoverLabel a:hover{
  text-shadow: yellow;
  display: inline;
  color: blue;
  font-size: 20px;
}

.drawer {
background: #c0392b;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #8e44ad, #c0392b);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #8e44ad, #c0392b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height: 100%;
top: 0;
}

.drawer a {
  color: white;
  font-style: oblique;
  font-size: 20px;
  font-weight: bold;
}

.homeGrid {
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: fixed;
  left:0;
  width: 100%;
  height: 100%;
  text-align: center;
}

.avatarImage {
  height: 200px;
  padding-top: 0em;
  text-align: center;
  display: block;
  justify-content: center;
  align-items: center;
  margin: auto;  
}

.bannerText {
  background-color: black;
  opacity: .8;
  width: 65%;
  margin: auto;
  border-radius: 10px;
}

.bannerText h1{
  font-size: 66px;
  font-weight: bold;
  color:white;
}

.bannerText hr{
  border-top: 5px dotted white;
  width: 50%;
  margin: auto;
}

.bannerText p{
  color: white;
  font-size: 20px;
  padding: 1em;
}

.socialLink {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin:auto;
}

.socialLink i {
  color: white;
  font-size: 5em;
  padding: 8px;
}

.socialLink i:hover{
  text-shadow: yellow;
  display: inline;
  color: blue;
}

.projectGrid {
  display: flex; 
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
